/Buoi1/nbproject/private/
/Buoi1/build/
/JavaFx1/bai1/nbproject/private/
/JavaFx1/bai1/build/
/JavaFx1/JavaFXApplication4/nbproject/private/
/JavaFx1/JavaFXApplication4/build/
/JavaFx1/JavaFXApplication5/nbproject/private/
/JavaFx1/JavaFXApplication5/build/
/JavaFx1/bai2/nbproject/private/
/JavaFx1/bai2/build/
/JavaFx1/bai3/nbproject/private/
/JavaFx1/bai3/build/
/JavaFx1/bai4/build/
/JavaFx1/bai4/nbproject/private/
/JavaFx1/bai7/nbproject/private/
/JavaFx1/bai7/build/
/JavaFx1/bai10/nbproject/private/
/JavaFx1/bai10/build/
/JavaFx1/bai11/nbproject/private/
/JavaFx1/bai11/build/
/JavaFx1/bai12/nbproject/private/
/JavaFx1/bai12/build/
/JavaFx1/bai13/nbproject/private/
/JavaFx1/bai13/build/
/JavaFx1/bai14/nbproject/private/
/JavaFx1/bai14/build/
/JavaFx2/bai1/nbproject/private/
/JavaFx2/bai1/build/
/JavaFx1/bai1/dist/
/JavaFx2/bai2-c3/nbproject/private/
/JavaFx2/bai2-c3/build/
/JavaFx2/bai3-c3/nbproject/private/
/JavaFx2/bai3-c3/build/
/JavaWeb/bai-c4/nbproject/private/
/JavaWeb/bai1-c4/nbproject/private/
/JavaWeb/WebApplication1/nbproject/private/
/JavaWeb/WebApplication2/nbproject/private/
/JavaWeb/WebApplication2/build/
/JavaWeb/WebApplication2/dist/
/JavaWeb/WebApplication3/nbproject/private/
/JavaWeb/WebApplication4/nbproject/private/
/JavaWeb/WebApplication4/build/
/JavaWeb/Bai1Chuong4/nbproject/private/
/JavaWeb/Bai1Chuong4/build/
/JavaWeb/Bai2Chuong4/nbproject/private/
/JavaWeb/Bai2Chuong4/build/
/JavaWeb/Bai2aChuong4/nbproject/private/
/JavaWeb/Bai2aChuong4/build/
/JavaWeb/Bai3Chuong4/nbproject/private/
/JavaWeb/Bai3Chuong4/build/
/JavaWeb/Bai4Chuong4/nbproject/private/
/JavaWeb/Bai4Chuong4/build/
