/Buoi1/nbproject/private/
/Buoi1/build/
/JavaFx1/bai1/nbproject/private/
/JavaFx1/bai1/build/
/JavaFx1/JavaFXApplication4/nbproject/private/
/JavaFx1/JavaFXApplication4/build/
/JavaFx1/JavaFXApplication5/nbproject/private/
/JavaFx1/JavaFXApplication5/build/
/JavaFx1/bai2/nbproject/private/
/JavaFx1/bai2/build/
/JavaFx1/bai3/nbproject/private/
/JavaFx1/bai3/build/
